body {
  font-family: 'Patrick Hand', cursive;
}

.globalWrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(193, 193, 193, 0.07746848739495793) 100%);
}

.heading {
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 8vw;
  margin-top: 9vh;
  margin-bottom: 3vh;
  font-size: 20px;
}

h3 {
  font-size: 25px;
}

.contentWrapper {
  box-sizing: border-box;
  display: flex;
  width: inherit;
  align-items: baseline;
}

.scores {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-left: 10%;
  margin-right: 10%;
}

.scoreHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.scoreHeader h3 {
  margin: 0;
}

.scoreList {
  width: inherit;
}

.list {
  width: inherit;
  list-style: none;
  padding: 0;
  border: solid black;
  border-width: 2px;
  max-height: 50vh;
  overflow-y: scroll;
}

.listItem {
  display: flex;
  margin: 1px;
  height: 30px;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 18px;
  justify-content: space-between;
}

.listItem:nth-child(even) {
  background-color: lightgrey;
}

.listItem:nth-child(odd) {
  background-color: #fff;
}

.form {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.formcontent {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button {
  display: flex;
  align-items: center;
  font-family: 'Patrick Hand', cursive;
  width: fit-content;
  height: 32px;
  font-size: 22px;
}

input {
  font-family: 'Patrick Hand', cursive;
  margin-bottom: 15px;
  height: 35px;
  border-radius: 5px;
  border-width: 2px;
  padding-left: 10px;
  font-size: 20px;
}
